@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html{
    scroll-behavior: smooth;
    background-color: rgb(31, 30, 30);
    overflow-x: hidden;
}
body{
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

p{
    font-family: 'Montserrat', sans-serif;
}

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

.bg-dark-gray{
    background-color: rgb(29, 29, 29);
    color: whitesmoke;
}

h2{
    padding: 2rem;
    text-align: center;
    font-size: 3rem;
}

.cardBody{
    flex-basis: content !important;
}

#navbar{
    transition: 0.2s;
    max-width: 100vw;
}
.navbar-collapse{
    flex-grow: 0;
    text-align: center;
}

.navbar-nav > li{
    transition: 0.3s;
}
.nav-item{
    margin-right: 4vw;
}

.navbar-nav > li:hover{
    position: relative;
    transform: scale(1.1);
} 

.icon{
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    transition: 0.3s;
    fill: black;
}

.nav-icon{
    fill: white;
}

.icon:hover{
    transform: scale(1.2);
}

.linkedin:hover{
    fill: #2867B2;
}

.youtube:hover{
    fill: #FF0000;
}

.website:hover{
    fill:blue
}

.github:hover{
    fill: #6e5494
}

.fadeIn{
    opacity: 1;
    transform: translateY(0px);
}

.navbar-toggler:focus{
    box-shadow: none;
}

.portrait{
    border-radius: 50%;
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.navspace{
    padding-top: 3rem;
}

.textarea{
    padding: 0.5rem; 
}

.introduction{
    font-size: 1.3rem;
}

.animateflex > div{
    transition: 1s;
}

#About{
    background-color: rgb(255, 255, 255);
    vertical-align: middle;
}

.Vcenter{
    margin: auto;
}

.programmingLang *{
    font-size: 1.2rem;
    font-weight: 500;
}
.fit-parent{
    width: 90%;
}

.aboutText{
    height: fit-content;
}

.skills{
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.card{
    transition: 0.3s;
}
.card:hover{
    transform: scale(1.05);
}

.Glinks{
    margin-top: 1rem;
}

#Projects{
    min-height: 100vh;
}

.project{
    opacity: 0;
    transform: translateY(300px);
    transition: 0.4s;
}

.fadeIn{
    opacity: 1;
    transform: translateY(0px);
}

.ProjectImages{
    padding: 0.5rem 0.5rem;
    flex-grow: 1;
    white-space: nowrap;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.projectImg{
    vertical-align: middle;
}
.cardBody{
    padding: 1em 1em;
}

.card-text{
    height: 3.8rem;
}

.corner{
    border-radius: 30px;
    overflow: hidden;
}

.projectHr{
    margin: auto;
    width: 50%;
    border-color: black !important;
    background-color: black !important;
    height: 2px !important;
    margin-bottom: 1rem ;
}

.animateflex > div:nth-child(odd){
    animation: leftSlideIn 1.5s ;
}

.formDiv{
    max-width: 100vw;
    margin-top: 5rem;
    background-color:  rgb(29, 29, 29) ;
}

form{
    max-width: 767px;
    align-items: center;
    margin: 1rem;
}

.submitBt, .form-label{
    margin-top: 1rem;
}

@keyframes leftSlideIn{
    0%{
        transform: translateX(-30%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.animateflex > div:nth-child(even){
    animation: rightSlideIn 1.2s ;
}

@keyframes rightSlideIn{
    0%{
        transform: translateX(30%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}


@media only screen and (max-width: 767px){
    .helper{
        display: none;
    }
    .card:hover{
        transform: none;
    }
    .project{
        margin-top: 2rem;
    }
    .projectImg {
        max-width: 100vw;
    }
    .introduction{
        transform: translateY(-2rem);
    }

    .portrait{
        width: 70%;
    }

    .home{
        padding-top: 0px;
    }

    .nav-item, .btn{
        width: 100%;
        height: 5rem;
        font-size: 1.3rem;
        margin-top: 2rem;
    }
    h2{
        font-size: 2rem;
    }

    .divVW{
        width: 100vw;
    }
}
@media only screen and (max-width: 660px){
    .navbar-nav > li:hover{
        transform: scale(1.001);
        background-color: transparent;
    }

    .navbar-toggler{
        padding: 0;
    }
    .nav-item{
        margin-right: 0px;
    }
}

@media only screen and (max-width: 575px){
    .navspace{
        padding-top: 3rem;
    }

    .ProjectImages{
        padding: 0;
    }

    h2{
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
}
@media only screen and (max-width: 360px){

    .textarea{
        height: 4em;
    }

    .form-label{
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }
}
